
.gameName {
    text-transform: uppercase;
    font-size:250%;
    height: 75px;
}

.navbar {
      border: none;
      margin-bottom: 0;
      border-radius: 0;
      color:#005aa7;
      background-color: #e0e5e2;
      text-align:center;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 900px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #e0e5e2;
      height: 100%;
      width: 10%;
    }

    .board {
        width: 90%;
        height: 100%;
    }
    

.blue {
    color:blue;
    font-size: medium;
}

.blueActive {
    background-color: #bad5ff;
    font-size: x-large;
}


.notActive {
    background-color : transparent;
    font-size: medium;
}
    /* Set black background color, white text and some padding */
    footer {
        background-color: #d3e6dc;
        color: #0c62eb;
        padding: 15px;
        position: fixed;
        bottom:0;
        left: 0;
        right:0;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

.btn-group {
    padding: 5px;
}

.btn-box {
    width:60px; 
    height:60px;
    margin-right:5px; 
    margin-bottom:5px;
    background-color:#86b9ff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    border-radius: 50%; 
}

.btn-modal {
    width: 150px;
    padding: 15px;
    border-color: black;
}

.btn-footer {
    margin-right:20px; 
    margin-left:20px;
}

.modal-body{
    font-size:300%;
}



